
body {
   background-image: url("../images/USCGC-James-WMSL-754.jpg");
   background-position: center fixed;
   background-repeat: no-repeat;
   background-size: cover;
}

#container {
   margin: 100px;
   font-family: 'Montserrat', sans-serif;
   border: 1px solid gray;
   padding: 40px;
   background: rgba(236, 230, 228, 0.685);
}

header {
   text-align: center;
}

#timeRemaining {
   text-align: center;
}


